## .NET
bin/
obj/
*.user
.vs/
*.suo
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS
.DS_Store
Thumbs.db

## Logs
*.log
logs/
